.password {
  @include flexbox(center);
  padding: 40px;

  &-btn {
    width: 100%;
    height: 48px !important;
    margin-bottom: 16px;
    font-size: 1rem;
    color: $white;
    border-radius: 8px;
    background-color: $indigo !important;
  }
  &-btns {
    @include text-style(14);
    position: absolute;
    height: 32px;
    margin-right: 12px;
    margin-bottom: 14px;
    color: $white;
    background-color: $indigo !important;
    border-radius: 8px;
    background-color: $border;
  }

  &-support {
    @include flexbox(center);
    @include text-style(14);
    flex-direction: column;
    width: 400px;
    height: 72px;
    margin-top: 28px;
    border-radius: 8px;
    background-color: $background;
    a {
      color: $indigo !important;
      font-weight: 700;
    }
  }
  .account-input {
    @include flexbox(end);
  }
}
