.chat-box {
  position: relative;

  &-overflow {
    overflow: hidden auto;
    padding: 0px 20px;
    height: 100%;
  }
  &-date {
    @include flexbox;
    @include text-style(14);
    margin: 16px 0;
  }
  &.opponent {
    display: flex;
    justify-content: start;
    padding: 4px;
  }
  &.me {
    display: flex;
    justify-content: end;
    padding: 4px;
  }
  .v-btn {
    position: absolute;
  }
  &-contents {
    @include text-style(12);
    margin: 0px;
    padding: 5px 14px;
    max-width: 484px;
    word-break: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    &.me {
      background-color: $indigo;
      color: $white;
      border-radius: 20px 2px 20px 20px;
    }
    &.opponent {
      background-color: $border;
      color: $black;
      border-radius: 2px 20px 20px;
    }
  }

  &-times {
    @include text-style(12, $tertiary);
    display: flex;
    flex-direction: column;
    padding: 0px 4px;
  }
}
