.order-detail {
  &.wrap {
    @include flexbox(between);
    width: 100%;
    margin-bottom: 16px;
  }

  &-status {
    @include flexbox(between);
    margin: 16px 0;

    span {
      background-color: $background;
      color: $indigo;
      font-weight: 700;
      padding: 2px;
      border-radius: 4px;
    }
    .review-btn {
      color: $indigo;
      font-weight: 700;
    }
  }

  &-content {
    border-bottom: 1px solid $border;
    margin-bottom: 8px;
  }
  &-payment {
    &.wrap {
      @include flexbox(between);
      padding: 4px 0;
      &:nth-child(2) {
        border-bottom: 1px solid $border;
      }
    }
    &-list {
      @include flexbox;
      background-color: $background;
      height: 48px;
      border-radius: 4px;
      font-weight: 700;
      margin: 16px 0;
    }
  }
  &-info {
    .date,
    .number {
      @include text-style(18, $dark);
      font-weight: 700;
    }
  }
  &-image {
    width: 120px;
    height: 120px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}
