.order-purchase {
  &-section-title {
    margin: 50px 0 20px;
    font-size: 24px;
    font-weight: 700;
  }
  &-section {
    margin-bottom: 20px;
  }
  &-content-box {
    &.title {
      height: 56px;
      display: flex;
    }
    &.content {
      margin: -3px;
      padding: 23px 3px 26px;
      width: 100%;
    }
  }
  &-list {
    &.box {
      border: 1px solid $border;
      border-radius: 4px;
      overflow: hidden;
    }
    &.header {
      background-color: #f7f8fa;
      height: 40px;
      padding: 11px 16px 10px;
    }
    &.content {
      padding: 16px;
      border-top: 1px solid $border;
    }
  }
  &-line {
    border-width: 0;
    height: 1px;
    background-color: #eaebef;
  }
  &.title {
    font-weight: 700;
  }
  &-flexbox {
    display: flex;
    align-items: center;
    height: 100%;
    &.section-title {
      font-weight: 700 !important;
      font-size: 20px !important;
    }
    &.list-title {
      font-weight: 700 !important;
      font-size: 15px !important;
    }
    &.content {
      margin-left: auto;
      font-size: 15px;
    }
  }
  &-image {
    height: 64px;
    width: 64px;
    margin-right: 12px;
    &.holder {
      height: 70px;
      width: 76px;
      margin: 0;
    }
  }
  &-point {
    display: flex;
    height: 42px;
    &.input {
      border: 1px solid $border;
      background-color: #fafafa;
      padding: 8px 15px 9px;
      border-radius: 4px;
    }
    &.btn {
      margin-left: 12px;
      margin-right: 0;
      color: $white;
      background-color: $indigo !important;
      background-color: $border;
      align-items: center;
    }
    &.text-box {
      align-items: center;
      margin-left: 12px;
      margin-right: auto;
    }
    &.text {
      align-items: center;
      font-size: 12px;
      margin-left: 3px;
    }
    &.color-text {
      align-items: center;
      font-size: 12px;
      margin-left: 3px;
      color: $indigo !important;
      font-weight: 700;
    }
    &.validate {
      font-size: 8px;
      color: $red !important;
      font-weight: 700;
      margin-left: 10px;
    }
  }

  &-wrap {
    display: flex;
    border-top: 1px solid rgb(234, 235, 239);
    border-left: 1px solid rgb(234, 235, 239);
    button {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      width: 12.5%;
      box-sizing: border-box;
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-width: 0px 1px 1px 0px;
      border-top-style: initial;
      border-left-style: initial;
      border-top-color: initial;
      border-left-color: initial;
      border-image: initial;
      padding: 0px 1px 5px 0px;
      margin: 0px;
      border-right-style: solid;
      border-right-color: rgb(234, 235, 239);
      border-bottom-style: solid;
      border-bottom-color: rgb(234, 235, 239);
      transition: background-color 0.2s ease 0s;
      word-break: keep-all;
      cursor: pointer;
    }
    img {
      width: 60px;
      height: 60px;
      margin: 8px auto 4px;
    }
  }
}
