.swiper {
  &-container {
    border-radius: 16px;
  }
  &-button {
    &-prev,
    &-next {
    display: none;
    color: $black !important;
    background-size: 10px 20px;
    }
  }

  &-pagination {
    margin-bottom: 16px;

  }

  @include responsive(D) {
    &-button {
    &-prev,
    &-next {
      @include flexbox;

      width: 30px;
      height: 30px;
      font-size: 20px;
      transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

      &.is-prev {
        i {
          margin-left: -2px;
          transform: rotate(90deg);
        }
      }

      &.is-next {
        i {
          margin-right: -2px;
          transform: rotate(-90deg);
        }
      }
    }
  }
}
}